.abtTheProgram{

    background-color: #FFF;
    margin-bottom: 30px !important;
    /* height: 450px; */
}



.abtTheProg_carous_cont{
    width: 300px !important;
    height: 310px;
    flex-shrink: 0;
    /* border: 2px solid blue;
    background: pink; */
    /* padding: 10px; */
    /* margin: 30px; */
    
}

.abtTheProg_carous_cont .card{
    width: 250x !important;
    height: 300px;
    padding: 10px;
    /* border: 1px solid #CFD4E1; */
    
    border-bottom: 2px solid orange;
    /* background: yellowgreen; */
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.10);


}

.card-img-top{
    margin-top: 15px;
    width: 44px !important;    
    height: 44px !important;
    flex-shrink: 0;
}
.cardHeading{
    color: #E9AA6F;
    font-family: Open Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 15px;
}

.owl-theme .owl-dots, .abtTheProgram  .owl-theme .owl-nav {
    text-align: center !important;
    font-weight: bold;
    -webkit-tap-highlight-color: transparent;
}