.toolsCoverd, .topCompaniesDiv, .industry_Insights_div{
    /* height: 380px; */
    background-color: #FFF;
    /* border: 2px solid orange; */
}

.tC_flexBox, .topComp_flexBox, .indusInsigh_flexBoxDiv, .instructorPanel_flexBox{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* border: 2px solid orange; */
}

.tC_flexBox img, .topComp_flexBox img{
    padding: 10px;
}

.indusInsigh_flexItem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    width: 401px;
    height: 150px;
    flex-shrink: 0;
    margin: 20px;
    

    color: #212529;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 200% */
    background-color: #E8F0F6;
    /* border: 1px solid blue; */
}


/* .chx-box{
    width: 13.213px;
    height: 10.194px;
    flex-shrink: 0;
} */
.syllabus{
    
    /* height: 400px; */
    flex-shrink: 0;
    background-color: #ECF3F8;
}
.syll_heading{
    padding: 40px;
    color: #212529;
    text-align: center;
    font-family: Open Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 130.769% */
}
.syll_heading span{
    padding: 5px;
    margin-left: 10px;
    padding-bottom: -5px;
    color: #212529;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */

    width: 131px;
    /* height: 44px; */
    flex-shrink: 0;
    background-color: #D3E8F4;
    border-radius:15px;

}



/* Industry Projects Div */
.indusProject_div{
    /* height: 700px; */
    background-color: #FFF;
    
    /* border: 2px solid orange; */
}

.indusProj_flexBox{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    /* border: 2px solid orange; */
}

.indusProj_flexBox .card{
    display: flex;
    width: 200px;
    height: 220px;
    margin: 10px;
    justify-content: center;
    flex-shrink: 0;
    
    background-color: #FFF;
    stroke-width: 1px;
    stroke: #CFD4E1;
    filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.10));
}
.indusProj_flexBox .card img{


    margin: 15px;
    /* margin-bottom: 15px; */
    /* border: 2px solid blue; */
    padding-top: 0px;
    /* width: 195px; */
    height: 100px;
    flex-shrink: 0;
    align-items: center;
  
    flex-shrink: 0;

    border-radius: 10px;
}

/* .indusProj_card-img img{
    width: 195px;
    height: 100px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid orangered;
    border-radius: 10px;
} */

.indusProj_card-body{
    padding-top: 20px;
    color: #212529;
    text-align: center;
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 153.846% */
}

/* Instructor Panel */

.instructorPanel_div{
    background-color: #ECF3F8;
    /* height: 500px; */
    /* border: 2px solid blue; */
    padding-bottom: 40px;
    padding-top: 30px;
}

.instruct_carous_cont{
    width: 510px !important;
    height: 490px;
    flex-shrink: 0;
    /* border: 2px solid blue; */
    /* background: pink; */
    /* padding: 10px; */
    margin: 20px;
}

.instructorPanel_flexBox .instructors_card{
    width: 510px;
    height: 490px;
    flex-shrink: 0;
    align-items: center;
    border-radius: 15px;
    margin: 20px;
    padding: 30px;
    
}

.instructorPanel_flexBox .instructorsPic{
    width: 171px !important;
    height: 156px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 2px solid #03B5D5;
    
}


.instructors_orgExp_Grid{
    /* display: none; */
    display: flex;
    padding-top: 20px;
    /* padding-bottom: -80px; */
    /* grid-template-columns: auto auto; */
    flex-direction: row;
    justify-content: space-around;
    grid-row-gap: 5px;
}

.saurabh_gridItems{
    align-items: center;
    color: #212529;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.instructors_orgExp_Grid .chx-box{
    width: 22px !important;
    height: 22px;
    flex-shrink: 0;
}

.instructors_orgExp_flexDiv{
    /* display: none; */
    display: flex;
    /* padding-top: 20px; */
    /* padding-bottom: -80px; */
    /* grid-template-columns: auto auto; */
    /* width: 380px;
    height: 220px; */
    /* border: 2px solid red; */
    flex-direction: row;
    justify-content: center;
    /* grid-row-gap: 5px; */
}

.inst1_leftItem_flexDiv{
    /* border: 2px solid aquamarine; */
    /* width: 160px;
    height: 200px; */
    /* flex-direction: column; */
    
}

.inst1_rightItem_flexDiv{
    
    /* border: 2px solid aquamarine; */
    /* width: 160px;
    height: 200px; */
    /* display: flex; */
    /* justify-content: ; */
    /* flex-direction: row !important; */
}

.inst1_rightItem_flexDiv .nitin_gridItems{
    display: flex;
    margin: 10px;
}
.inst1_leftItem_flexDiv .nitin_gridItems{
    display: flex;
    margin: 10px;
}




.inst2_rightItem_flexDiv .nitin_gridItems{
    display: flex;
    margin: 10px;
}
.inst2_leftItem_flexDiv .nitin_gridItems{
    display: flex;
    margin: 10px;
}


.instructorPanel_div .chx-box{
    width: 22px !important;
    height: 22px;
    /* border: 2px solid pink; */
}