
.keyBContainer{
    border: 2px solid black;
    margin: 40px !important;
    background-color: #FFF;
    padding-bottom: 30px;
    flex-shrink: 0;

}
.keyBenefits{
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    /* height: 495px; */
    background-color: #0087D3;
}

.heading{

    margin: 40px;
    color: #212529;
    text-align: center;
    font-family: Open Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;

}
.subHeading{
    color: #212529;
    margin-bottom: 40px;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 26px; 162.5% */
}



.keyB_grid{
    /* display: none; */
    display: grid;
    /* padding-bottom: -80px; */
    grid-template-columns: auto auto;
    justify-content: space-around;
    grid-row-gap: 20px;
}
.kBgridItems, .saurabh_gridItems{
    /* justify-content: center; */
    align-items: center;
    color: #212529;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.whoCanApply{
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    /* height: 257px; */
    background-color: #ECF3F8;
    /* margin-bottom: 100px !important; */
    padding-bottom: 40px;
    
}

.whatYouwillLearn{
    /* height: 300px; */
    background-color: #FFF;
    /* border: 2px solid red; */
}


